@import url("colors.css");
@import url("fonts.css");
body {
  color: var(--primary-color);
  background-color: var(--primary-bg);
  font-family: var(--primary-font);
  padding: 0 40px;
}

.btn {
  width: 100px;
  height: 40px;
  border: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
}

.form-select {
  height: 40px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-bg);
  color: var(--secondary-color);
  border-radius: 5px;
  padding: 0 10px;
  font-family: var(--primary-font);
}

.filter-movie {
  display: flex;
  gap: 10px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  /* overflow-x: scroll; */
  justify-content: space-between;
  gap: 1em;
  margin-top: 1em;
}

/* .movie-list {
  padding-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-auto-rows: 5em;
  gap: 0.5em;
} */

.movie-card {
  border: 1px solid white;
  width: 380px;
  height: 720px;
  padding: 4px;
  border-radius: 20px;
}

.img-container {
  min-height: 610px;
  max-height: 610px;
}

.info-film {
  padding: 0.5em 1em;
}

.img-movie {
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 610px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-more {
  margin-top: 0.5em;
  padding: 0.5em;
}

/* Loader */
.loader-container {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 16px;
  margin: auto;
  height: 16px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* definisi spin  */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
