@import url("colors.css");
@import url("fonts.css");
body {
  color: var(--primary-color);
  background-color: var(--primary-bg);
  font-family: var(--primary-font);
}

.btn {
  width: 100px;
  height: 40px;
  border: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
}

.form-select {
  height: 40px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-bg);
  color: var(--secondary-color);
  border-radius: 5px;
  padding: 0 10px;
  font-family: var(--primary-font);
}

.filter-movie {
  display: flex;
  gap: 10px;
}
